* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #f1f5f9;
}
body {
  display: grid;
  grid-template: 1fr 8fr 1fr/ 3fr 7fr;
  background-color: #1e293b;
  color: #f1f5f9;
  height: 100vh;
}
header {
  padding: 10px 0px;
  grid-area: 1 / 1 / 2 / 3;
  font-size: 3vw;
  text-align: center;
  align-items: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
aside {
  grid-area: 2 / 1 / 3 / 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 2vw;
  gap: 10px;
  padding: 20px;
}
aside > div {
  background-color: #334155; 
  border-radius: 10px;
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 5px;
}
button {
  width: 6vw;
  height: 1.5vw;
  background-color: #0ea5e9;
  border: none;
  outline: none;
  border-radius: 5px;
}
button:hover {
  transform: scale(1.05);
  transition: 100ms;
  cursor: pointer;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.9);
}
input {
  background-color: #0ea5e9;
  border-radius: 5px;
  outline: none;
  border: none;
  padding: 5px;
}
footer {
  font-size: 2vw;
  grid-area: 3 / 1 / 4 / 3;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 0px;
}
main {
  grid-area: 2 / 2 / 3 / 3;
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: #0ea5e9;;
}
table {
  padding: 20px;
  border: black;
  overflow-y: auto;
  overflow-x: hidden;
  color: black;
  border: 2px solid black;
  border-collapse: collapse;
}
tr {
  border: 2px solid black;
  width: 50vw;
  height: 5vh;
}
th {
  border: 2px solid black;
  width: 15vw;
}

@media (max-width: 767px) {
  * {
    font-size: 10px;
    box-sizing: border-box;
  }
  body {
    display: flex;
    flex-direction: column;
    background-color: yellow;
    color: blue;
    height: 100vh;
  }
  aside {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
  }
  aside > div {
    width: 30vw;
    height: 22vw;
  }
  input {
    width: 25vw;
  }
  button {
    width: 15vw;
    height: 4vw;
  }
  table{
    width: 80vw;
  }
  footer{
    margin-bottom: 0px;
    margin-top: auto;
  }
}
